.contact-form{
    background-image: url('../../../images/appointment-bg.png');
   
}
.contact-content{
    background-color: #3F475A;
    opacity: .8;
    width: 1363px;
    height: 680px;
}
.main-form{
    width: 78%;
    margin-left: 171px;
    margin-top: 72px;
}
.form-control{
    color: white;
    margin: 30px 0px;
    border-radius: 0px;
    padding: 12px 10px;
}
.submit-btn{
    padding: 10px 65px;
    background-image: linear-gradient(to right, #19D3AF , #0FCFE8);
    border-radius: 0px;
    border: 0px;
    font-size: 14px;
    font-weight: 600;
    margin: 15px 0px;
    color: white;
    text-align: center;
    margin-left: 595px;
}