.appointment{
    background: url('../../../images/appointment-bg.png');
    width: 100%;
    height: 500px;
    margin: 185px 0px;
}
.doctor img{
    width: 650px;
    height: 690px;
    margin: -186px -104px;
}
.learn-btn{
    padding: 10px 35px;
    background-image: linear-gradient(to right, #19D3AF , #0FCFE8);
    border-radius: 0px;
    border: 0px;
    font-size: 14px;
    font-weight: 600;
    margin: 15px 0px;
    color: white;
}
.appointment-content{
    margin-top: 74px;
}
