#main-header{
    margin-top: 90px;
    margin-bottom: 90px;
    height:416px;
}
.chair-bg-main{
    margin-left: 60px
}
#appointment-btn{
    padding: 10px 18px;
    background-image: linear-gradient(to right, #19D3AF , #0FCFE8);
    border-radius: 0px;
    border: 0px;
    font-size: 14px;
    font-weight: 600;
    margin: 15px 0px;
}
.contain-p p{
    margin-top: 25px;
    font-size: 15px;
    color: #B8B8B8;
}